@{
    ViewData["Title"] = "Danh sách đối tác tích hợp";
}
<div class="content-header py-2">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1 class="m-0">Đối tác tích hợp</h1>
            </div>
            <div class="col-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="#">Nơi thanh toán</a></li>
                    <li class="breadcrumb-item active">Danh sách</li>
                </ol>
            </div>
        </div>
    </div>
</div>
